h2 {
  color: white !important;
  margin-bottom: 0 !important;
}

.detail h4 {
  color: #fff;
}

.details {
  margin-top: 27px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}

div.grid a {
  text-decoration: none;
  color: #fff;
}

.active-data {
  background-color: #fd5294;
  padding: 10px;
}

.inactive-data {
  background-color: #ce4277;
  padding: 10px;
}

h3 {
  color: #fff !important;
}

div.container h2 {
  color: rgb(39, 39, 39) !important;
  padding-top: 10px;
}

.detail {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.country {
  background-color: #fd5294;
}

.total {
  background-color: #ce4277;
}

.recover {
  background-color: #ce4277;
}

.deaths {
  background-color: #fd5294;
}

a img {
  width: 27px;
}

section.top-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.btn {
  margin-right: 11px;
}

a.active img {
  display: none;
}

.bg-back {
  background-color: #ce4277;
}

@media screen and (max-width: 480px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin-top: 0;
  }

  div.container {
    padding: 0;
  }

  div.container h2 {
    padding: 10px;
    background-color: #fd5294;
  }

  div .container h2 {
    color: rgb(255, 255, 255) !important;
  }

  .details {
    margin-top: 0;
  }

  section.top-page {
    display: none;
  }

  .top-btns {
    padding: 4px;
    padding-left: 9px;
    text-align: center;
  }

  button.btn.btn-outline-success {
    margin-bottom: 5px;
  }

  .card-item {
    height: 160px;
    text-align: right;
  }

  .top h3 {
    margin-top: 30px;
    font-size: 1.3em;
    text-transform: capitalize;
  }

  svg.svg-inline--fa.fa-gear {
    font-size: 15px;
    color: #fff;
    margin-right: 11px;
    margin-left: 10px;
  }

  svg.svg-inline--fa.fa-microphone {
    font-size: 15px;
    color: #fff;
    margin-right: 10px;
  }
}
